<!-- <form class="form"(ngSubmit)="onSubmit()">
<input type="text" name="title" [(ngModel)] = "title" placeholder="Add your Todo">
<input type="checkbox" name="completed" [(ngModel)] = "completed"> <span class="completed">isCompleted</span>
<input type="submit" class="btn" value="submit">
</form> -->


<form class="form-inline" (ngSubmit)="onSubmit()" >
    <div class="form-group mb-2">
      <label for="title" class="sr-only">Title</label>
      <input type="text" class="form-control-plaintext" id="title" name="title" [(ngModel)] = "title" placeholder="Add your Todo">
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input type="checkbox" name="completed" [(ngModel)] = "completed"> <span class="completed">Completed</span>
    </div>
    <button type="submit" class="btn btn-danger mb-2">submit</button>
  </form>
